<nav class="d-flex justify-content-between align-items-center p-3 bg-dark">
  <%= link_to "Wikinimous", root_path, class: "d-inline-block" %>
  <%= link_to "New Article", new_article_path, class: "d-inline-block" %>
</nav>
